{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"trailingComma": "es5",
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore",
	"printWidth": 100,
	"endOfLine": "auto",
	"plugins": ["prettier-plugin-organize-imports"]
}
